main {
    background-color: #282D35 ;
    padding: 40px 40px;
}

.main-title{
    font-size: 32px;
    margin-bottom: 15px;
    text-align: left;
}

li{
    margin-bottom: 10px;
}

li::marker {
    color: #61DAFB;
    font-size: 22px;
}